body {
  margin: 10px;
  padding: 0;
}

canvas {
  border: 1px solid black;
  width: 700px;
  height: 600px;
  background-image: url("./images/space-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
